/* div {
  border: solid black 1px;
} */

/* Base */
body {
  margin: 0px;
  padding: 0px;
}

footer {
  height: 471px;
  left: 0px;
  top: 0px;
  background-color: #f2f2f2;
  margin-top: 0;
}

/* Buttons */
#demo {
  margin-top: 15px;
  width: 310px;
  font-family: "Open Sans";
  font-size: 28.833px;
  line-height: 120%;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #df7126;
  border-radius: 25px;
  outline: none !important;
  border: 1px solid #df7126;
  color: #ffffff;
}

/* Images */
#sports {
  margin-top: 128px;
  margin-right: 76.82px;
}

#modal1 {
  padding-top: 100px;
  padding-left: 122px;
}

#modal2 {
  padding-top: 230px;
}

.modal-body {
  width: 1036px;
  padding: 0rem;
  margin-right: 3em;
}

#sports-modal .modal-img {
  max-width: 100%;
}

/* Headers */
.grid2 {
  padding-right: 225px;
  padding-top: 130.24px;
}

.grid2 p {
  font-family: "Open Sans";
  font-size: 22px;
  margin-bottom: 0px;
  line-height: 24px;
}

h1 {
  font-family: "Gelasio", serif;
  font-size: 67.03px;
}

h2 {
  font-family: "Gelasio", serif;
  font-size: 40px;
}

h3 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

header {
  height: 56px;
  left: 0px;
  top: 0px;
  background-color: #c4c4c4;
  margin-top: 0;
}

#title {
  padding-top: 305px;
  padding-left: 161px;
}

/* SVG List (GRID2) */

.block {
  margin-top: 50px;
}

.block p {
  font-family: "Open Sans";
  font-size: 20px;
  padding-right: 140px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 24px;
}

.block-img {
  padding-right: 0px;
}

/* SVG List (GRID 3) */
.grid3 {
  padding-top: 203px;
  padding-left: 161px;
}

.grid3 p {
  font-family: "Open Sans";
  font-size: 22px;
  margin-bottom: 0px;
  line-height: 24px;
}

.block3 {
  margin-top: 50px;
  padding-left: 163px;
}

.block3 p {
  font-family: "Open Sans";
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 24px;
}

/* styles for mobile browsers smaller than 480px; (Mobile Phones) */
@media only screen and (max-device-width: 480px) {
  #title {
    padding-top: 50px;
    padding-left: 0px;
    text-align: center;
  }

  h1 {
    font-family: "Gelasio", serif;
    font-size: 30px;
  }

  #demo {
    margin-top: 15px;
    width: 200px;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 120%;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #df7126;
    border-radius: 25px;
    outline: none !important;
    border: 1px solid #df7126;
    color: #ffffff;
  }
  #sports {
    padding-top: 0px;
    margin-right: 0;
  }
  .modal-dialog {
    margin: 0;
  }
  #sports-modal .modal-img {
    max-width: 385px;
  }
}

/* default tablets screens */
@media only screen and (device-width: 768px) {
  #title {
    padding-top: 150px;
    padding-left: 0px;
    text-align: center;
  }

  h1 {
    font-family: "Gelasio", serif;
    font-size: 30px;
  }

  #demo {
    margin-top: 15px;
    width: 200px;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 120%;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #df7126;
    border-radius: 25px;
    outline: none !important;
    border: 1px solid #df7126;
    color: #ffffff;
  }
  #sports {
    padding-top: 0px;
    margin-right: 0;
  }
  .modal-dialog {
    margin: 0;
  }
}

/* default ipad pro screens */
@media only screen and (max-device-width: 1024px) {
  #title {
    padding-top: 200px;
    padding-left: 0px;
    text-align: center;
  }

  h1 {
    font-family: "Gelasio", serif;
    font-size: 30px;
  }

  #demo {
    margin-top: 15px;
    width: 200px;
    font-family: "Open Sans";
    font-size: 17px;
    line-height: 120%;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #df7126;
    border-radius: 25px;
    outline: none !important;
    border: 1px solid #df7126;
    color: #ffffff;
  }
  #sports {
    padding-top: 0px;
    margin-right: 0;
  }

  /* SVG List (GRID 2) */

  .block {
    margin-top: 50px;
  }

  .block p {
    font-family: "Open Sans";
    font-size: 16px;
    padding-right: 40px;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 24px;
  }

  .block-img {
    padding-right: 0px;
  }

  .grid2 {
    padding-right: 0px;
    padding-top: 130.24px;
  }

  .grid2 p {
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 24px;
    padding-right: 0px;
  }

  .grid2 h2 {
    font-size: 30px;
  }

  .grid2 h3 {
    font-size: 19px;
  }

  #modal1 {
    padding-left: 0px;
  }

  .modal-body {
    height: auto;
    width: 800px;
    padding: 0rem;
    margin-right: 3em;
  }
  .grid3 {
    padding-left: 0px;
    padding-top: 130.24px;
  }

  .grid3 p {
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 24px;
    padding-right: 0px;
  }

  .grid3 h2 {
    font-size: 30px;
  }

  .grid3 h3 {
    font-size: 19px;
  }
  .block3 {
    padding-left: 0px;
  }

  .block3 p {
    font-family: "Open Sans";
    font-size: 16px;
    padding-right: 40px;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 24px;
  }
}
